<!DOCTYPE html>
<html lang="en">
<head>
<title>UCCS CS Students</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bootstrap demo</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>


<body>
<div class="container-fluid">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'createWorkout' %}" style="color: blue">Create</a>
</li>

</ul>
</div>
</div>
    {%  if user.is_authenticated %}
        <span style="color: blue">{{ request.user }}</span>
        &nbsp
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>


<!-- add block content from html template -->
{% block content %}
    <H2>Workouts</H2>
    <h4>Filter by Group:</h4>
    <br>
    <form method="GET">
    {{ myFilter.form }}
    <button class="btn btn-primary" type="submit"> Search </button>
    </form>
    <br>
    <ul class = "list-group">
        {% for i in workouts %}
        <li class="list-group-item">
            Workout: {{ i.TITLE }}
            <br>
            Group: {{ i.GROUP }}
            <br>
            Description: {{ i.DESCRIPTION }}
            <br>
            <a class="btn btn-primary" href="{%  url 'updateWorkout' i.id %}" role="button">update</a>
            <a class="btn btn-primary btn-danger" href="{%  url 'deleteWorkout' i.id %}" role="button">delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
</div>
</body>
</html>